.ancient_city {
	top: 20px;
	left: 150px;

	&-white {
		display: block;
	}
}

.arachnid_tomb {
	top: 80px;
	left: 30px;

	&-white {
		display: block;
	}
}

.belfry {
	top: -30px;
	left: 60px;
	&-white {
		display: block;
	}
}

.channel {
	top: 20px;
	left: -95px;

	&-white {
		display: block;
	}
}

.courthouse {
	top: 80px;
	left: 45px;

	&-white {
		display: block;
	}
}

.defiled_cathedral {
	top: 85px;
	left: 120px;

	&-white {
		display: block;
	}
}

.gardens {
	top: 80px;
	left: 0px;

	&-white {
		display: block;
	}
}

.primordial_pool {
	top: 20px;
	left: 20px;

	&-white {
		display: block;
	}
}

.primordial_blocks {
	top: 40px;
	left: 130px;

	&-yellow {
		display: block;
	}
}

.arcade {
	top: 40px;
	left: 130px;

	&-yellow {
		display: block;
	}
}

.armoury {
	top: 40px;
	left: 130px;

	&-red {
		display: block;
	}
}

.crimson_temple {
	top: 40px;
	left: 130px;

	&-red {
		display: block;
	}
}

.phantasmagoria {
	top: 40px;
	left: 130px;

	&-red {
		display: block;
	}
}

.palace {
	top: 40px;
	left: 130px;

	&-red {
		display: block;
	}
}

.overgrown_ruin {
	top: 40px;
	left: 130px;

	&-red {
		display: block;
	}
}
