#ancient_city_map {
	top: 260px;
	left: -25px;
}

#arachnid_tomb_map {
	top: 30px;
	left: 150px;
}

#belfry_map {
	top: 85px;
	left: 225px;
}

#channel_map {
	top: 290px;
	left: 160px;
}

#courthouse_map {
	top: 140px;
	left: 140px;
}

#defiled_cathedral_map {
	top: 240px;
	left: 60px;
}

#gardens_map {
	top: 320px;
	left: 10px;
}

#primordial_pool_map {
	top: 170px;
	left: 60px;
}

#primordial_blocks_map {
	top: 180px;
	left: 195px;
}

#arcade_map {
	top: 290px;
	left: 250px;
}

#armoury_map {
	top: 180px;
	left: 240px;
}

#crimson_temple_map {
	top: 330px;
	left: 80px;
}

#phantasmagoria_map {
	top: 250px;
	left: 240px;
}

#palace_map {
	top: 230px;
	left: 170px;
}

#overgrown_ruin_map {
	top: 255px;
	left: 80px;
}
