.basilica {
	top: 20px;
	left: 0px;

	&-white {
		display: block;
	}
}

.caldera {
	top: 80px;
	left: -50px;

	&-white {
		display: block;
	}
}

.courtyard {
	top: 255px;
	left: 20px;
	&-white {
		display: block;
	}
}

.desert_spring {
	top: 190px;
	left: -105px;

	&-white {
		display: block;
	}
}

.ghetto {
	top: 250px;
	left: -25px;

	&-white {
		display: block;
	}
}

.moon_temple {
	top: 255px;
	left: -288px;

	&-white {
		display: block;
	}
}

.sunken_city {
	top: 80px;
	left: 23px;

	&-white {
		display: block;
	}
}
