#basilica_map {
	top: 220px;
	left: -50px;
}

#caldera_map {
	top: 365px;
	left: 70px;
}

#courtyard_map {
	top: 310px;
	left: -20px;
}

#desert_spring_map {
	top: 400px;
	left: 140px;
}

#ghetto_map {
	top: 335px;
	left: 225px;
}

#moon_temple_map {
	top: 400px;
	left: 240px;
}

#sunken_city_map {
	top: 420px;
	left: 310px;
}

#the_twilight_temple_map {
	top: 330px;
	left: 140px;
}

#the_vinktar_square_map {
	top: 280px;
	left: 60px;
}

#shrine_map {
	top: 365px;
	left: -20px;
}

#dungeon_map {
	top: 310px;
	left: -70px;
}

#alleyways_map {
	top: 415px;
	left: -60px;
}

#cage_map {
	top: 330px;
	left: -60px;
}

#acid_caverns_map {
	top: 430px;
	left: 90px;
}
