.arena {
	top: 20px;
	left: 0px;

	&-white {
		display: block;
	}
}

.beach {
	top: 80px;
	left: -30px;

	&-white {
		display: block;
	}
}

.colonnade {
	top: 0px;
	left: -80px;
	&-white {
		display: block;
	}
}

.coves {
	top: 30px;
	left: -105px;

	&-white {
		display: block;
	}
}

.desert {
	top: 50px;
	left: -125px;

	&-white {
		display: block;
	}
}

.infested_valley {
	top: 55px;
	left: -120px;

	&-white {
		display: block;
	}
}

.ivory_temple {
	top: 80px;
	left: -70px;

	&-white {
		display: block;
	}
}

.lava_chamber {
	top: 50px;
	left: 123px;

	&-white {
		display: block;
	}
}

.orchard {
	top: 70px;
	left: 13px;

	&-white {
		display: block;
	}
}

.park {
	top: 100px;
	left: 23px;

	&-white {
		display: block;
	}
}

.racecourse {
	top: 60px;
	left: 23px;

	&-white {
		display: block;
	}
}

.shore {
	top: 80px;
	left: 23px;

	&-white {
		display: block;
	}
}

.sulphur_vents {
	top: 80px;
	left: 23px;

	&-white {
		display: block;
	}
}

.vault {
	top: 150px;
	left: -23px;

	&-white {
		display: block;
	}
}

.carcass {
	top: 50px;
	left: 23px;

	&-red {
		display: block;
	}
}

.cells {
	top: 50px;
	left: 23px;

	&-yellow {
		display: block;
	}
}

.flooded_mine {
	top: 50px;
	left: 23px;

	&-red {
		display: block;
	}
}

.geode {
	top: 50px;
	left: 23px;

	&-red {
		display: block;
	}
}

.marshes {
	top: 50px;
	left: 23px;

	&-white {
		display: block;
	}
}

.pit {
	top: 50px;
	left: 23px;

	&-yellow {
		display: block;
	}
}

.plaza {
	top: 50px;
	left: 23px;

	&-yellow {
		display: block;
	}
}

.spider_lair {
	top: 50px;
	left: 23px;

	&-red {
		display: block;
	}
}
