#arena_map {
	top: 75px;
	left: -10px;
}

#beach_map {
	top: 395px;
	left: 400px;
}

#colonnade_map {
	top: 410px;
	left: 350px;
}

#coves_map {
	top: 390px;
	left: 460px;
}

#desert_map {
	top: 230px;
	left: 430px;
}

#infested_valley_map {
	top: 165px;
	left: 210px;
}

#ivory_temple_map {
	top: 195px;
	left: 325px;
}

#lava_chamber_map {
	top: 125px;
	left: 110px;
}

#orchard_map {
	top: 352px;
	left: 136px;
}

#park_map {
	top: 175px;
	left: -5px;
}

#racecourse_map {
	top: 405px;
	left: 260px;
}

#shore_map {
	top: 265px;
	left: 100px;
}

#sulphur_vents_map {
	top: 330px;
	left: 430px;
}

#vault_map {
	top: 250px;
	left: 200px;
}

#mao_kun_map {
	top: 210px;
	left: 95px;
}

#carcass_map {
	top: 258px;
	left: 170px;
}

#cells_map {
	top: 127px;
	left: 165px;
}

#flooded_mine_map {
	top: 325px;
	left: 330px;
}

#geode_map {
	top: 210px;
	left: 150px;
}

#marshes_map {
	top: 265px;
	left: 295px;
}

#pit_map {
	top: 190px;
	left: 260px;
}

#plaza_map {
	top: 232px;
	left: 187px;
}

#spider_lair_map {
	top: 320px;
	left: 408px;
}
