#cursed_crypt_map {
	top: 25px;
	left: 280px;
}

#lookout_map {
	top: 245px;
	left: 300px;
}

#museum_map {
	top: 140px;
	left: 210px;
}

#ramparts_map {
	top: 243px;
	left: 115px;
}

#strand_map {
	top: 275px;
	left: 258px;
}

#summit_map {
	top: 120px;
	left: 320px;
}

#temple_map {
	top: 120px;
	left: 135px;
}

#toxic_sewer_map {
	top: 250px;
	left: 15px;
}

#waterways_map {
	top: 215px;
	left: 345px;
}

#poorjoys_asylum_map {
	top: 180px;
	left: 110px;
}

#the_putrid_cloister_map {
	top: 235px;
	left: 200px;
}

#whakawairua_tuahu_map {
	top: 190px;
	left: 290px;
}

#the_cowards_trial_map {
	top: 80px;
	left: 238px;
}

#wharf_map {
	top: 175px;
	left: 315px;
}

#atoll_map {
	top: 250px;
	left: 185px;
}

#maelstrom_of_chaos_map {
	top: 210px;
	left: 230px;
}

#relic_chambers_map {
	top: 95px;
	left: 300px;
}

#spider_forest_map {
	top: 250px;
	left: 155px;
}

#city_square_map {
	top: 145px;
	left: 235px;
}

#fungal_hollow_map {
	top: 155px;
	left: 150px;
}

#necropolis_map {
	top: 215px;
	left: 125px;
}

#death_and_taxes_map {
	top: 270px;
	left: 80px;
}

#obas_cursed_trove_map {
	top: 300px;
	left: 240px;
}
