.cursed_crypt {
	top: 20px;
	left: 282px;

	&-white {
		display: block;
	}
}

.lookout {
	top: 140px;
	left: 230px;

	&-white {
		display: block;
	}
}

.museum {
	top: 55px;
	left: 20px;
	&-white {
		display: block;
	}
}

.ramparts {
	top: 90px;
	left: -105px;

	&-white {
		display: block;
	}
}

.strand {
	top: 150px;
	left: -25px;

	&-white {
		display: block;
	}
}

.summit {
	top: 105px;
	left: -148px;

	&-white {
		display: block;
	}
}

.temple {
	top: 80px;
	left: 23px;

	&-white {
		display: block;
	}
}

.toxic_sewer {
	top: 80px;
	left: 23px;

	&-white {
		display: block;
	}
}

.waterways {
	top: 20px;
	left: 150px;

	&-white {
		display: block;
	}
}

.wharf {
	top: 20px;
	left: 150px;

	&-white {
		display: block;
	}
}

.spider_forest {
	top: 20px;
	left: 150px;

	&-red {
		display: block;
	}
}

.relic_chambers {
	top: 20px;
	left: 150px;

	&-yellow {
		display: block;
	}
}

.city_square {
	top: 20px;
	left: 150px;

	&-red {
		display: block;
	}
}

.atoll {
	top: 20px;
	left: 150px;

	&-white {
		display: block;
	}
}

.fungal_hollow {
	top: 20px;
	left: 150px;

	&-red {
		display: block;
	}
}

.necropolis {
	top: 20px;
	left: 150px;

	&-red {
		display: block;
	}
}
