#conservatory_map {
	top: 100px;
	left: 150px;
}

#graveyard_map {
	top: 300px;
	left: 188px;
}

#mesa_map {
	top: 260px;
	left: 265px;
}

#mud_geyser_map {
	top: 190px;
	left: 285px;
}

#pier_map {
	top: 130px;
	left: 212px;
}

#tropical_island_map {
	top: 8px;
	left: 116px;
}

#villa_map {
	top: 105px;
	left: 65px;
}

#waste_pool_map {
	top: 220px;
	left: 60px;
}

#wasteland_map {
	top: 165px;
	left: 90px;
}

#scriptorium_map {
	top: 140px;
	left: 140px;
}

#lighthouse_map {
	top: 290px;
	left: 180px;
}

#precinct_map {
	top: 180px;
	left: 13px;
}

#factory_map {
	top: 50px;
	left: 70px;
}

#overgrown_shrine_map {
	top: 215px;
	left: 75px;
}

#crater_map {
	top: 170px;
	left: 230px;
}

#actons_nightmare_map {
	top: 270px;
	left: 140px;
}

#residence_map {
	top: 135px;
	left: 155px;
}

#promenade_map {
	top: 210px;
	left: 100px;
}

#vaal_temple_map {
	top: 70px;
	left: 40px;
}

#the_hall_of_grandmasters_map {
	top: 275px;
	left: 175px;
}
