.conservatory {
	top: 20px;
	left: 0px;

	&-white {
		display: block;
	}
}

.graveyard {
	top: 80px;
	left: -30px;

	&-white {
		display: block;
	}
}

.mesa {
	top: 0px;
	left: -60px;
	&-white {
		display: block;
	}
}

.mud_geyser {
	top: 60px;
	left: -105px;

	&-white {
		display: block;
	}
}

.pier {
	top: 50px;
	left: 85px;

	&-white {
		display: block;
	}
}

.tropical_island {
	top: 55px;
	left: 120px;

	&-white {
		display: block;
	}
}

.villa {
	top: 50px;
	left: 10px;

	&-white {
		display: block;
	}
}

.waste_pool {
	top: -20px;
	left: -20px;

	&-white {
		display: block;
	}
}

.wasteland {
	top: 0px;
	left: 13px;

	&-white {
		display: block;
	}
}

.scriptorium {
	top: 40px;
	left: 13px;

	&-white {
		display: block;
	}
}

.lighthouse {
	top: 40px;
	left: 13px;

	&-yellow {
		display: block;
	}
}

.precinct {
	top: 40px;
	left: 13px;

	&-yellow {
		display: block;
	}
}

.factory {
	top: 40px;
	left: 13px;

	&-yellow {
		display: block;
	}
}

.overgrown_shrine {
	top: 40px;
	left: 13px;

	&-red {
		display: block;
	}
}

.crater {
	top: 40px;
	left: 13px;

	&-red {
		display: block;
	}
}

.residence {
	top: 40px;
	left: 13px;

	&-red {
		display: block;
	}
}

.vaal_temple {
	top: 40px;
	left: 13px;

	&-red {
		display: block;
	}
}
