.bone_crypt {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.dig {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.excavation {
	top: -30px;
	left: 30px;
	&-white {
		display: block;
	}
}

.grotto {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.lair {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.leyline {
	top: -30px;
	left: 110px;

	&-white {
		display: block;
	}
}

.pen {
	top: -30px;
	left: 110px;

	&-white {
		display: block;
	}
}
.port {
	top: -30px;
	left: 110px;

	&-white {
		display: block;
	}
}

.arachnid_nest {
	top: -30px;
	left: 110px;

	&-red {
		display: block;
	}
}

.core {
	top: -30px;
	left: 110px;

	&-red {
		display: block;
	}
}

.lava_lake {
	top: -30px;
	left: 110px;

	&-red {
		display: block;
	}
}

.reef {
	top: -30px;
	left: 110px;

	&-red {
		display: block;
	}
}

.malformation {
	top: -30px;
	left: 110px;

	&-yellow {
		display: block;
	}
}

.shipyard {
	top: -30px;
	left: 110px;

	&-yellow {
		display: block;
	}
}

.thicket {
	top: -30px;
	left: 110px;

	&-red {
		display: block;
	}
}
