.bone_crypt {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.dig {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.excavation {
	top: -30px;
	left: 30px;
	&-white {
		display: block;
	}
}

.grotto {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.lair {
	top: -30px;
	left: 30px;

	&-white {
		display: block;
	}
}

.leyline {
	top: -30px;
	left: 110px;

	&-white {
		display: block;
	}
}

.pen {
	top: -30px;
	left: 110px;

	&-white {
		display: block;
	}
}
.port {
	top: -30px;
	left: 110px;

	&-white {
		display: block;
	}
}
