#bone_crypt_map {
	top: 225px;
	left: 230px;
}

#dig_map {
	top: 335px;
	left: 360px;
}

#excavation_map {
	top: 155px;
	left: 140px;
}

#grotto_map {
	top: 165px;
	left: 210px;
}

#lair_map {
	top: 80px;
	left: 130px;
}

#leyline_map {
	top: 85px;
	left: 258px;
}

#pen_map {
	top: 13px;
	left: 65px;
}

#port_map {
	top: 215px;
	left: 330px;
}

#arachnid_nest_map {
	top: 70px;
	left: 170px;
}

#core_map {
	top: 18px;
	left: 255px;
}

#lava_lake_map {
	top: 5px;
	left: 280px;
}

#reef_map {
	top: 20px;
	left: 380px;
}

#malformation_map {
	top: 133px;
	left: 297px;
}

#shipyard_map {
	top: 195px;
	left: 380px;
}

#thicket_map {
	top: 100px;
	left: 380px;
}

#olmecs_sanctum_map {
	top: 280px;
	left: 290px;
}
