#arsenal_map {
	top: 50px;
	left: 50px;
}

#ashen_wood_map {
	top: 100px;
	left: 50px;
}

.bazaar {
	top: 0px;
	left: 50px;
}

.cemetery {
	top: 5px;
	left: 50px;
}

.coral_ruins {
	top: 60px;
	left: -200px;
}

.crystal_ore {
	top: 60px;
	left: -200px;
}

.dunes {
	top: 60px;
	left: -200px;
}

.fields {
	top: 60px;
	left: -200px;
}

.glacier {
	top: 80px;
	left: 350px;
}

.haunted_mansion {
	top: 0px;
	left: 230px;
}

.jungle_valley {
	top: 40px;
	left: 0px;
}

.mausoleum {
	top: 40px;
	left: 0px;
}

.plateau {
	top: 40px;
	left: 0px;
}

.terrace {
	top: 60px;
	left: 0px;
}

.underground_sea {
	top: 120px;
	left: -180px;
}

.volcano {
	top: 120px;
	left: -180px;
}

.underground_river {
	top: 120px;
	left: 190px;
}

.tower {
	top: 120px;
	left: 190px;
}

.sepulchre {
	top: 120px;
	left: 190px;
}

.arid_lake {
	top: 120px;
	left: 190px;
}

.maze {
	top: 120px;
	left: 190px;
}

.mineral_pools {
	top: 120px;
	left: 190px;
}

.siege {
	top: 120px;
	left: 190px;
}

.laboratory {
	top: 120px;
	left: 190px;
}

#caer_blaidd_map {
	top: 50px;
	left: 100px;
}
