#arsenal_map {
	top: 167px;
	left: 273px;
}

#ashen_wood_map {
	top: 450px;
	left: 310px;
}

#bazaar_map {
	top: 55px;
	left: -25px;
}

#cemetery_map {
	top: 580px;
	left: 360px;
}

#coral_ruins_map {
	top: 560px;
	left: 290px;
}

#crystal_ore_map {
	top: 330px;
	left: 380px;
}

#dunes_map {
	top: 207px;
	left: 348px;
}

#fields_map {
	top: 190px;
	left: 110px;
}

#glacier_map {
	top: 275px;
	left: 110px;
}

#haunted_mansion_map {
	top: 460px;
	left: 210px;
}

#jungle_valley_map {
	top: 140px;
	left: -12px;
}

#mausoleum_map {
	top: 360px;
	left: 245px;
}

#plateau_map {
	top: 440px;
	left: 420px;
}

#terrace_map {
	top: 85px;
	left: 195px;
}

#underground_sea_map {
	top: 240px;
	left: 245px;
}

#volcano_map {
	top: 330px;
	left: 490px;
}

#underground_river_map {
	top: 75px;
	left: 55px;
}

#tower_map {
	top: 360px;
	left: 430px;
}

#sepulchre_map {
	top: 110px;
	left: 85px;
}

#arid_lake_map {
	top: 235px;
	left: 200px;
}

#maze_map {
	top: 200px;
	left: 190px;
}

#mineral_pools_map {
	top: 355px;
	left: 370px;
}

#siege_map {
	top: 60px;
	left: 135px;
}

#laboratory_map {
	top: 255px;
	left: 155px;
}

#caer_blaidd_map {
	top: 135px;
	left: 33px;
}

#pillars_of_arun_map {
	top: 260px;
	left: 330px;
}

#doryanis_machinarium_map {
	top: 85px;
	left: 155px;
}

#hallowed_ground_map {
	top: 510px;
	left: 360px;
}
