#bog_map {
	top: 0px;
	left: 405px;
}

#vaal_pyramid_map {
	top: 79px;
	left: 260px;
}

#academy_map {
	top: 108px;
	left: 170px;
}

#dark_forest_map {
	top: 175px;
	left: 93px;
}

#peninsula_map {
	top: 15px;
	left: 220px;
}

#castle_ruins_map {
	top: 56px;
	left: 70px;
}

#chateau_map {
	top: 160px;
	left: 15px;
}

#perandus_manor_map {
	top: 230px;
	left: -27px;
}

#vaults_of_atziri_map {
	top: 57px;
	left: 323px;
}

.canyon {
	top: 80px;
	left: 23px;

	&-yellow {
		display: block;
	}
}

.barrows {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.colosseum {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.estuary {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.burial_chambers {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.iceberg {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}
