#bog_map {
	top: 0px;
	left: 405px;
}

#vaal_pyramid_map {
	top: 79px;
	left: 240px;
}

#academy_map {
	top: 108px;
	left: 170px;
}

#dark_forest_map {
	top: 175px;
	left: 93px;
}

#peninsula_map {
	top: 15px;
	left: 220px;
}

#castle_ruins_map {
	top: 56px;
	left: 70px;
}

#chateau_map {
	top: 160px;
	left: 15px;
}

#perandus_manor_map {
	top: 230px;
	left: -27px;
}

#vaults_of_atziri_map {
	top: 43px;
	left: 310px;
}

#canyon_map {
	top: 22px;
	left: 128px;
}

#barrows_map {
	top: 20px;
	left: 184px;
}

#colosseum_map {
	top: 17px;
	left: -28px;
}

#estuary_map {
	top: 111px;
	left: -28px;
}

#burial_chambers_map {
	top: 64px;
	left: 190px;
}

#iceberg_map {
	top: 167px;
	left: 55px;
}
