// .bog {
// 	top: -17px;
// 	left: 418px;

// 	&-white {
// 		display: block;
// 	}
// }

.bog {
	top: 100px;
}

.vaal_pyramid {
	top: 0px;
	left: 150px;

	&-white {
		display: block;
	}
}

.academy {
	top: -28px;
	left: 20px;
	&-white {
		display: block;
	}
}

.dark_forest {
	top: 40px;
	left: -105px;

	&-white {
		display: block;
	}
}

.peninsula {
	top: 50px;
	left: -65px;

	&-white {
		display: block;
	}
}

.castle_ruins {
	top: -15px;
	left: -248px;

	&-white {
		display: block;
	}
}

.chateau {
	top: 80px;
	left: 23px;

	&-white {
		display: block;
	}
}

.canyon {
	top: 80px;
	left: 23px;

	&-yellow {
		display: block;
	}
}

.barrows {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.colosseum {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.estuary {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.burial_chambers {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}

.iceberg {
	top: 80px;
	left: 23px;

	&-red {
		display: block;
	}
}
