.whold {
	border-radius: 50%;
}

.watchstone {
	width: 20px;
}

.crimson_hold {
	position: relative;
	top: 1px;
	left: 1px;
	height: 20px;
	width: 20px;
	background-color: rgba(155, 0, 0, 0.5);
	z-index: 3;
}

.viridian_hold {
	position: relative;
	top: -19px;
	left: 24px;
	height: 20px;
	width: 20px;
	background-color: rgba(0, 155, 0, 0.5);
	z-index: 3;
}

.cobalt_hold {
	position: relative;
	top: -36px;
	left: 1px;
	height: 20px;
	width: 20px;
	background-color: rgba(155, 0, 155, 0.5);
	z-index: 3;
}

.golden_hold {
	position: relative;
	top: -16px;
	left: 24px;
	height: 20px;
	width: 20px;
	background-color: rgba(155, 155, 0, 0.5);
	z-index: 3;
}
