.map {
	position: relative;
	display: inline-block;
	width: 63px;
	height: 42px;

	&-base {
		display: block;
	}

	&-size {
		width: 18px;
		left: 22px;
		position: relative;
		margin: auto;
	}

	&-tier-color {
		top: -22px;
		left: -22px;
		position: relative;
	}

	&-name {
		width: 90px;
		position: relative;
		text-align: center;
		font-size: 0.7em;
		color: white;
		top: -2px;
		left: -15px;
	}

	&-tier-number {
		top: -19px;
		text-align: center;
		position: relative;
		font-size: 0.7em;
		color: white;
	}
}

.toggle-completed {
	position: relative;
	border-radius: 50%;
	top: -53px;
	left: 22px;
	width: 18px;
	height: 18px;
	z-index: 2;

	&:hover {
		cursor: pointer;
	}
}

.completed-map {
	border-radius: 50%;
	box-shadow: 0 0 0 1px green;
}
